<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="gsbRapports.Properties.Settings.gsbrapports2021ConnectionString" connectionString="Data Source=w10sqlexpress;Initial Catalog=gsbrapports2021;User ID=sqlexpress;Password=sqlexpress" providerName="System.Data.SqlClient" />
    <add name="gsbrapportsEntities" connectionString="metadata=res://*/mdGsbrapports.csdl|res://*/mdGsbrapports.ssdl|res://*/mdGsbrapports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I9UM33U\SQLEXPRESS01;initial catalog=gsbrapports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="gsbrapports2021Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W10SQLEXPRESS;initial catalog=gsbrapports2021;user id=sqlexpress;password=sqlexpress;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="gsb2021Entities" connectionString="metadata=res://*/mdgsbrapports2021.csdl|res://*/mdgsbrapports2021.ssdl|res://*/mdgsbrapports2021.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=w10sqlexpress;initial catalog=gsb2021;user id=sqlexpress;password=sqlexpress;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>